*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}

/* header div */

header{
    background-color: lightgrey;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px ;
    padding-left: 30px;
    position: fixed;
    z-index: 999;
}

/* header first div */

.navbar1{
    width: 100%;
    display: flex;
    justify-content: space-between;   
}

.navbar1 img{
    width:350px;
    height:80px;
}

header label{
    display: none;
    padding-top:10px;
    font-size: 20px;
}

header a{
    padding: 5px 20px 5px;
    border-radius: 3px;
    text-decoration-line: none;
}

header a:hover{
      background-color: rgb(40, 5, 136);
      color:white;
}

header input{
    display:none;
}

input:checked~div{
    transition-duration:2s ; 
    left:0;
    background-color: rgb(241, 202, 144);
}

/* header second div */

.navbar2{
    width:50%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

/* Mobile & tablet view */

@media only screen and (max-width:800px){
    .navbar1 img{
        width:200px;
        height:50px;
    }
    .navbar2{
        height:100vh;
        width:100%;
        gap:20px;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top:70px;
        padding-top:50px;
        left:100%;
    }
    header label{
        display:block;
    }
}

/* overall div */

.box{
    padding: 50px 10px;
}

/* all div */

 .box1{ 
    padding-bottom: 30px;
}

/* video div */

.video{
    width:100%;
    position: relative;
    display: flex;
    align-items: last baseline;
    justify-content: center; 
}

.video video{
    width:100%;
    height:550px;
    object-fit: cover;
}

.video h1{
    font-size: 70px;
    font-weight: 800;
    color:rgb(5, 5, 138);
    position: absolute;
    padding-bottom: 20px;
    text-shadow: 5px 5px 5px white;
}

.video h1:hover{
    transform: scale(1.1);
    transition: all 1s;
    text-shadow: 5px 5px 5px blue;
    color:white;
    font-size: 68px;
    cursor: pointer;
}

.box1 p{
    font-size: 25px;
    padding: 30px;
    line-height: 40px;
    background-color: rgb(221, 218, 218);
    /* animation-timeline: viewy(1); */
}

.box1 p:hover{
   background-image:linear-gradient( to right, aquamarine,rgb(197, 14, 197));
   color: white;  
}

/* Mobile view */

@media only screen and (min-width:300px) and (max-width:500px){
    .video h1{
        font-size: 30px;
        text-align: center;
    }
    .video h1:hover{
        font-size:28px ;
    }
    .box1 p{
        font-size: 20px;
        line-height: 30px;
    }
}

/* Tablet view */

@media only screen and (min-width:500px) and (max-width:1200px){
    .video h1{
        font-size:50px;
        text-align: center;
    }
    .video h1:hover{
        font-size: 50px;
    }
}

/* footer */

footer{
    padding:50px 20px 80px;
    background-color: rgb(251, 174, 253);
    overflow: hidden;
}

.img{
    width:100%;
    height:100px;
    display:grid;
    justify-content: center;
}

.img img{
    width:300px;
    height:50px;
    overflow: hidden;
}

.img:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
    cursor: pointer;
}

.footer{
    display:grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto auto;
}

.footer h3{
    padding-bottom: 13px;
}

.footer div:nth-child(1) h3{
    color: chocolate;
    cursor: pointer;
}

.footer div:nth-child(2) h3{
    color:red;
    cursor: pointer;
}

.footer div:nth-child(3) h3{
    color:blue;
    cursor: pointer;
}

.footer div:nth-child(4) h3{
    color:crimson;
    cursor: pointer;
}

.footer div:nth-child(5) h3{
    color:rgb(4, 122, 14);
    cursor: pointer;
}

.footer p{
    font-size: 18px;
    line-height: 25px;
}

.footer a{
    text-decoration: underline;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
}

.footer a:hover{
    color:rgb(3, 3, 110);
    font-weight: 700;
}

.footer i:hover{
    background-color: red;
    transform: scale(1.1);
    transition: all 1s;
    cursor: pointer;
}

/* icon */

.face{
    border-radius: 48%;
    font-size: 25px;
    padding: 13px 17px;
    background-color: rgb(11, 4, 116);
    color:white;
}

.insta{
    font-size: 25px;
    padding: 13px;
    background-color: rgb(11, 4, 116);
    border-radius: 50%;
    color:white;
    margin-left: 5px;
}

/* Mobile view */

@media only screen and (min-width:300px) and (max-width:500px){
   .footer{
    grid-template-columns: auto;
   }
   .footer div{
    padding-top: 50px;
   }
}

/* Tablet view */

@media only screen and (min-width:500px) and (max-width:800px){
    .footer{
        grid-template-columns: auto auto;
    }
    .footer div{
        padding-top: 50px;
    }
}

/* Laptop view */

@media only screen and (min-width:800px) and (max-width:1200px){
    .footer{
        grid-template-columns: auto auto auto;
    }
    .footer div{
        padding-top: 50px;
    }
}