*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}

/* header div */

header{
    background-color: lightgrey;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px ;
    padding-left: 30px;
    position: fixed;
    z-index: 999;
}

/* header first div */

.navbar1{
    width: 100%;
    display: flex;
    justify-content: space-between;   
}

.navbar1 img{
    width:350px;
    height:80px;
}

header label{
    display: none;
    padding-top:10px;
    font-size: 20px;
}

header a{
    padding: 5px 20px 5px;
    border-radius: 3px;
    text-decoration-line: none;
}

header a:hover{
      background-color: rgb(40, 5, 136);
      color:white;
}

header input{
    display:none;
    height:400px;
}

input:checked~div{
    transition-duration:2s ; 
    height:400px; 
    left:0;
    background-color: rgb(241, 202, 144);
}

/* header second div */

.navbar2{
    width:50%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

/* Mobile & Tablet view */

@media only screen and (max-width:800px){
    .navbar1 img{
        width:200px;
        height:50px;
    }
    .navbar2{
        height:100vh;
        width:100%;
        gap:20px;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top:70px;
        padding-top:50px;
        left:100%;
    }
    header label{
        display:block;
    }
}

/* overall div */

.image{
    display:grid;
    grid-template-columns: auto;
    gap:30px;
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left:20px;
    background-image: linear-gradient(to right,rgb(9, 9, 243)0%,rgb(204, 201, 201)70%);
}

.image img{
   width:530px;
   height:500px;
}

.image img:hover{
    transform: scale(0.9);
    transition: all 1s;
    cursor: pointer;
}

.image div{
    position: relative;
}

/* image1 h1 tag */
.box{
    position: absolute;
    bottom:5px;
    text-align: center;
    width:100%;
    font-weight: 800;
    padding: 8px 15px 10px;
    background-color: rgb(197, 192, 192);
    opacity: 0;
}

.image :hover h1{
    opacity: 0.8;
    color:rgb(31, 6, 90);
    transform: scale(0.9);
    transition: all 1s;
    background-color: rgb(131, 241, 241);
    cursor: pointer;
}

.image1{
    display:flex;
    align-items: center;
}

.image1:nth-child(even){
    flex-direction: row-reverse;
    cursor: pointer;
}

/* para div */

.image2 p{
    font-size: 23px;
    line-height: 35px;
    padding: 20px;  
}

.image2 p:hover{
    color:white;
    cursor: pointer;
}

.image2 h1{
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    color:rgb(23, 4, 104);
    z-index: 1;
}

/* Mobile view */

@media only screen  and (max-width:500px){
    .image{
        width:100%;
        padding-left: 10px;
    }
    .image img{
        width:90%;
        height:100%;
        padding-top: 25px;
    }
    .image1{
        flex-direction: column;
        border:8px dotted rgb(24, 201, 224);
        border-right:none;
        border-top: none;
        border-left: none;
    }
    .image2{
        width:100%;
    }
    .image1:nth-child(even){
        flex-direction: column;
    }
}

/* Tablet view */

@media only screen and (min-width:500px) and (max-width:800px){
    .image1{
        flex-direction: column;
        border:8px dotted rgb(24, 201, 224);
        border-right:none;
        border-top: none;
        border-left: none;
    }
    .image img{
        padding-top: 30px;
    }
    .image1:nth-child(even){
        flex-direction: column;
    }
}
/* footer */

footer{
    padding:50px 20px 80px;
    background-color: rgb(251, 174, 253);
    overflow: hidden;
}

.img{
    width:100%;
    height:100px;
    display:grid;
    justify-content: center;
}

.img img{
    width:300px;
    height:50px;
    overflow: hidden;
}

.img:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
    cursor: pointer;
}

.footer{
    display:grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto auto;
}

.footer h3{
    padding-bottom: 13px;
}

.footer div:nth-child(1) h3{
    color: chocolate;
    cursor: pointer;
}

.footer div:nth-child(2) h3{
    color:red;
    cursor: pointer;
}

.footer div:nth-child(3) h3{
    color:blue;
    cursor: pointer;
}

.footer div:nth-child(4) h3{
    color:crimson;
    cursor: pointer;
}

.footer div:nth-child(5) h3{
    color:rgb(4, 122, 14);
    cursor: pointer;
}

.footer p{
    font-size: 18px;
    line-height: 25px;
}

.footer a{
    text-decoration: underline;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
}

.footer a:hover{
    color:rgb(3, 3, 110);
    font-weight: 700;
}

.footer i:hover{
    background-color: red;
    transform: scale(1.1);
    transition: all 1s;
    cursor: pointer;
}

/* icon */

.face{
    border-radius: 48%;
    font-size: 25px;
    padding: 13px 17px;
    background-color: rgb(11, 4, 116);
    color:white;
}

.insta{
    font-size: 25px;
    padding: 13px;
    background-color: rgb(11, 4, 116);
    border-radius: 50%;
    color:white;
    margin-left: 5px;
}

/* Mobile view */

@media only screen and (min-width:300px) and (max-width:500px){
   .footer{
    grid-template-columns: auto;
   }
   .footer div{
    padding-top: 50px;
   }
}

/* Tablet view */

@media only screen and (min-width:500px) and (max-width:800px){
    .footer{
        grid-template-columns: auto auto;
    }
    .footer div{
        padding-top: 50px;
    }
}

/* Laptop view */

@media only screen and (min-width:800px) and (max-width:1200px){
    .footer{
        grid-template-columns: auto auto auto;
    }
    .footer div{
        padding-top: 50px;
    }
}